<%- include('header'); -%>

<section id="activities" class="flex start">
    <h4>
        Activities
    </h4>
    <div class="row">
        <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" id="internship" class="col">
            <div class="icon">
                <ion-icon name="business-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Internships
            </div>
        </a>
        <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" class="col">
            <div class="icon">
                <ion-icon name="globe-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Activities Summary
            </div>
        </a>
        <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" id="seminar" class="col">
            <div class="icon">
                <ion-icon name="megaphone-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Seminar
            </div>
        </a>
    </div>
    <div class="row">
        <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" id="workshop" class="col">
            <div class="icon">
                <ion-icon name="construct-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Workshop
            </div>
        </a>
        <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" id="guest-lecture" class="col">
            <div class="icon">
                <ion-icon name="school-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Guest Lecture
            </div>
        </a>
        <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" id="orientation" class="col">
            <div class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Orientation Programme
            </div>
        </a>
    </div>
</section>

<%- include('footer'); -%>