<%- include('header'); -%>

<section id="team" class="flex">
    <h4 class="head">Advisory Board</h4>
    <div class="row">
        <div class="col">
            <img src="resources/img/Abhishek B.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Abhishek Bhuin</strong>
                <span>Chief TPR, T&P Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="resources/img/Subrata.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Subrata Kundu</strong>
                <span>Additional Secretary, KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>