<%- include('header'); -%>

<section id="team" class="flex">
    <h4 class="head">Advisory Board</h4>
    <div class="row">
        <div class="col">
            <img src="/img/Abhishek B.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Abhishek Bhuin</strong>
                <span>Chief TPR, T&P Cell</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/abhishek-bhuin-b750a916a/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:abhishekcentury@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Subrata.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Subrata Kundu</strong>
                <span>Additional Secretary, KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/subrata-kundu-658092160/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:subratakundubankura@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>