<%- include('header'); -%>

<section id="notice" class="flex summary start">
    <div class="row">
        <div class="col span-1-of-1">
            <h4>
                Downloads
            </h4>
            <ul class="notice-box">
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        Internship Guidelines
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        Application form for certification program
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        Application form for inhouse program
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        Application form for inplant program
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        Parent Consent Letter
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        No due certificate
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        Approval letter from HOD & Principal
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('footer'); -%>