    <footer>
        <div class="col">
            <h4>
                Contact Us
            </h4>
            <ul class="foot-links contact">
                <li>
                    Industry Institute Partnership Cell<br>
                    Kalyani Government Engineering College<br>
                    Kalyani, Nadia<br>
                    West Bengal, India
                </li>
                <li>
                    <a href="mailto:someone@yoursite.com">Email: iipc@kgec.edu.in</a>
                </li>
                <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14691.525416356902!2d88.448787!3d22.99139!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f1c6d3ff467d96b!2sKalyani%20Government%20Engineering%20College!5e0!3m2!1sen!2sin!4v1592156964463!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </li>
            </ul>
        </div>
        <div class="col">
            <h4>
                Follow us at
            </h4>
            <div class="follow-icons">
                <a href="https://www.facebook.com/kgeciipcell/" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://www.linkedin.com/company/industry-institute-partnership-cell-kgec/" class="icon">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div>
        </div>
        <div class="col">
            <h4>
                Important Links
            </h4>   
            <ul class="foot-links">
               <a href="/"><li>Home</li></a>
               <a href="/team"><li>Team</li></a>
               <a href="/activity"><li>Activity</li></a>
               <a href="/training"><li>Training</li></a>
               <a href="/downloads"><li>Downloads</li></a>
            </ul>
        </div>
    </footer>    
    <div class="copyright">@IIPC KGEC, all rights reserved.</div>

    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/vendors/js/flickity.pkgd.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
