<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Industry Institute and Partnership Cell of the Kalyani Government Engineering College situated in Kalyani, West Bengal">

    <link rel="stylesheet" href="/vendors/css/flickity.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <title>IIPC KGEC - Home</title>

</head>

<body>
    
    <div class="loader">
        <img id="loader" src="/img/loader.gif" alt="Loading..." height="300px">
    </div>

    <header>
        <div class="menu-btn"><ion-icon name="reorder-three-outline"></ion-icon></div>
        <a class="logo" href="/"><img src="/img/logo.jpg" alt="IIPC Logo" height="100%"></a>
        <div class="header-text">
            <h4>Industry Institute Partnership Cell</h4>
            <span>Kalyani Government Engineering College</span>
            <span>Kalyani, Nadia, West Bengal, India, Pin- 741235</span>
        </div>
    </header>

    <nav class="nav">
        <div class="head-nav">
            <a class="logo" href="/"><img src="/img/logo.jpg" alt="IIPC Logo" height="100%"></a>
            <div class="header-text">
                <h4>Industry Institute Partnership Cell, KGEC</h4>
            </div>
            <div class="menu-close"><ion-icon name="close-outline"></ion-icon></ion-icon></div>
        </div>

        <ul class="top-nav">
            <li class="menu">
                <a href="/">Home ▾</a>
                <ul class="sub-menu">
                    <a href="/#objectives"><li>Objectives</li></a>
                    <a href="/#notice"><li>Notice</li></a>
                    <a href="/#activities"><li>Activities</li></a>
                </ul>
            </li>
            <li class="menu">
                <a href="/team">Team ▾</a>
                <ul class="sub-menu">
                    <a href="/faculty"><li>Faculty</li></a>
                    <a href="/student"><li>Student</li></a>
                    <a href="/advisory"><li>Advisory Board</li></a>
                </ul>
            </li>
            <li class="menu">
                <a href="/activity">Activity ▾</a>
                <ul class="sub-menu">
                    <a href="/activity#internship"><li>Internship</li></a>
                    <a href="/activity#seminar"><li>Seminar</li></a>
                    <a href="/activity#workshop"><li>Workshop</li></a>
                    <a href="/activity#guest-lecture"><li>Guest Lecture</li></a>
                    <a href="/activity#orientation"><li>Orientation Programme</li></a>
                </ul>
            </li>
            <li class="menu">
                <a href="/training">Training ▾</a>
                <ul class="sub-menu">
                    <a href="/training#activities"><li>Inhouse</li></a>
                    <a href="/training#inplant"><li>Inplant</li></a>
                    <a href="/training#certification"><li>Certification Programme</li></a>
                    <a href="/training#industrial"><li>Industrial Programme</li></a>
                </ul>
            </li>
            <li class="menu"><a href="/downloads">Downloads</a></li>
        </ul>
    </nav>
