<%- include('header'); -%>

<section id="home">
    <div class="gallery js-flickity" data-flickity-options='{ 
        "wrapAround": true, 
        "autoPlay": 5000,
        "imagesLoaded": true,
        "lazyLoad": 2,
        "pageDots": true,
        "prevNextButtons": false
    }'>
        <img class="gallery-cell" src="resources/img/img1.jpg">
        <img class="gallery-cell" src="resources/img/img3.jpg">
        <img class="gallery-cell" src="resources/img/img4.jpg">
    </div>

    <h2 class="hero-text">Welcome to the Industry Institute Partnership Cell,<br> Kalyani Government Engineering College</h2>
</section>

<section id="objectives" class="flex">
    <div class="row">
        <div class="col span-1-of-1">
            <h4>
                Objectives
            </h4>
            <p>
                The Industry Institute Partnership Cell is being established to bridge the skill gap between the institute and industry. The key challenge faced by engineering education today is the need to constantly adapt to the changing requirements of the industry. The objective of the IIP Cell is to facilitate the future technocrats to meet out the industry expectations through academic offerings with the involvement of industry and accomplish a high contemporary technological environment. The IIP Cell disseminates technical advances through informal educational techniques which include internships, industrial visits, participating in industrial events and much more.
            </p>
            <div class="author">
                <img class="author-img" src="resources/img/Abhinav.jpg" alt="Abhinav Ghosh">
                <div class="author-text">
                    <strong>Abhinav Ghosh</strong>
                    <span>Additional Secretary</span>
                    <span>IIP Cell, KGEC</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="notice" class="flex">
    <div class="row">
        <div class="col span-1-of-1">
            <h4>
                Notice
            </h4>
            <ul class="notice-box">
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        KGEC Alumni Europe Chapter
                    </a>
                    <img src="https://www.sggscc.ac.in/assets/front/images/new-gif.gif" height="30px">
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        Details about the current internships at Nestle
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        How to use LinkedIn effectively
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        Coursera Updates
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        Dronaz selection update
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        TULIP
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        This is a sample notice spanning across multiple lines to test the output. If there is a gif, the text will break into a new line right before it
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        <strong>Headings work too</strong><br>
                        This is a sample notice having a heading.
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        This is a sample notice.
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        <strong>Headings work too</strong><br>
                        This is a sample notice having a heading.
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        This is a sample notice.
                    </a>
                </li>
                <li class="notice light">
                    <a href="https://www.google.com" class="notice-text">
                        <strong>Headings work too</strong><br>
                        This is a sample notice having a heading.
                    </a>
                </li>
                <li class="notice dark">
                    <a href="https://www.google.com" class="notice-text">
                        This is a sample notice.
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="activities" class="flex">
    <h4>
        Activities
    </h4>
    <div class="row">
        <div class="col">
            <div class="icon">
                <ion-icon name="body-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Developing close relations between Industry and Institute via interactive programs.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="business-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Encouraging industry and organizations for placement and training of students in Industries.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="earth-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Widening & implementing R&D program, sponsored and joint R&D projects from industries, in the Institute.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="icon">
                <ion-icon name="map-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Conducting Industrial Training and Industrial Visits for the students and faculty.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Encouraging Industry to collaborate in Industry Study Tour Programme (ISTP) / Internship Programme.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="ribbon-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Organizing seminars, symposiums, exhibitions, and workshops.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Publishing and issue technical bulletins/ newsletters and course material with the latest technological developments.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="rocket-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Collaborating with other societies (both on national and international levels) having similar objectives.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="flame-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Conducting Industrial and Technical Exhibitions.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="icon">
                <ion-icon name="paper-plane-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Organizing guest lectures on the latest technological advancements, evaluation of project work, and workshops from industry experts in the Institute.
            </div>
        </div>
        <div class="col">
            <div class="icon">
                <ion-icon name="medal-outline"></ion-icon>
            </div>
            <div class="activity-text">
                Conducting industrial exhibitions to highlight research facilities and expertise available with the Institute.
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>