<%- include('header'); -%>

<section id="team" class="flex start">
    <h4 class="head">Student Body</h4>
    <div class="row">
        <div class="col">
            <img src="/img/Abhinav.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Abhinav Ghosh</strong>
                <span>Additional Secretary</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/abhinav-ghosh/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:abhinav.ghosh@kgec.edu.in"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Abhishek.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Abhishek Singh</strong>
                <span>Joint Secretary</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/abhishek-singh-13b261177/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:abhinew2015.as@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/arka.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Arka Bandyopadhyay</strong>
                <span>Joint Secretary</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/arka-bandyopadhyay-b861b516a/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:arka.bob1998@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/SANJU.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Sanju Biswas</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/sanju-biswas-1bbb53199"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:sanju.04101999.biswas@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Indrasish.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Indrasish Mandal</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/indrasish-mandal-5917b3169/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:indrasish2628@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Prerna thakur.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Prerna Thakur</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/prerna-thakur-6a89231a0/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:thakurpriyaprerna@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Devsmita Mukherjee.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Devsmita Mukherjee</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/devsmita-mukherjee-522008181/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:devsmitamukherjee55@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Arik.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Arik Chattopadhyay</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/arik-chattopadhyay-7b5ba3153/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:chattopadhyayarik10@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Vishal.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Vishal Aryan</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/vishal-kumar-93438415b/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:vishalaryan16974@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Anirban.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Anirban Dey</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/anirban-dey-4b8068193/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:deyanirban279@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Saptarshi Ghosh.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Saptarshi Ghosh</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/saptarshi-ghosh-2ab097144/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:saptarshi.ghosh.2011@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Subhashis_Biswas.JPG" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Subhashish Biswas</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/subhashis-biswas-33a348142/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:buddybiswas@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Avash.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Avash Kumar Saha</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/avash-kumar-saha-30722416a/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:avash.saha6@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Saptarshi B.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Saptarshi Bandyopadhyay</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/saptarshi-bandyopadhyay-7bb68214a/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:ronisaptarshi97@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Rishav.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Rishav Gupta</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/rishav-gupta-586575175/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:rishavgupta61298@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Sushovan Chaki.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Sushovan Chaki</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a target="_blank" href="https://www.linkedin.com/in/sushovan-chaki-133a6b16a/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a target="_blank" href="mailto:sushovanchaki@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>