<%- include('header'); -%>

<section id="team" class="flex">
    <h4 class="head">Student Body</h4>
    <div class="row">
        <div class="col">
            <img src="/img/Abhinav.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Abhinav Ghosh</strong>
                <span>Additional Secretary</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Abhishek.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Abhishek Singh</strong>
                <span>Joint Secretary</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/arka.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Arka Bandyopadhyay</strong>
                <span>Joint Secretary</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/SANJU.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Sanju Biswas</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Indrasish.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Indrasish Mandal</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Prerna thakur.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Prerna Thakur</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Devsmita Mukherjee.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Devsmita Mukherjee</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Arik.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Arik Chattopadhyay</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Vishal.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Vishal Aryan</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Anirban.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Anirban Dey</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Saptarshi Ghosh.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Saptarshi Ghosh</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Subhashis_Biswas.JPG" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Subhashish Biswas</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Avash.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Avash Kumar Saha</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Saptarshi B.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Saptarshi Bandyopadhyay</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Rishav.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Rishav Gupta</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Sushovan Chaki.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Sushovan Chaki</strong>
                <span>Core Member</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>