<%- include('header'); -%>

<section id="team" class="flex start">
    <h4 class="head">Faculty</h4>
    <div class="row">
        <div class="col">
            <img src="/img/sourabhsir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Dr. Sourabh Kumar Das</strong>
                <span>Principal, KGEC</span>
                <span>Mentor , KGEC IIP Cell</span>
            </div>
            <div class="socials">
                <a href="mailto:principal.kgec@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/miqsir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Mr. Md. Iqbal Qureshi</strong>
                <span>Treasurer , KGEC IIP Cell</span>
            </div>
            <div class="socials">
                <a href="https://linkedin.com/in/md-iqbal-quraishi-9b8a2663/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="malto:iqbalqu@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/SantanuDasSir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Dr. Santanu Das</strong>
                <span>Chairman, KGEC IIP Cell</span>
            </div>
            <div class="socials">
                <a href="https://linkedin.com/in/santanu-das-856ba328/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="mailto:sdas.me@gmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/BarunSir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Mr. Barun Mandal</strong>
                <span>Member, KGEC IIP Cell</span>
            </div>
            <div class="socials">
                <a href="mailto:barun_mandal123@rediffmail.com"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>
