<%- include('header'); -%>

<section id="team" class="flex start">
    <h4 class="head">Faculty</h4>
    <div class="row">
        <div class="col">
            <img src="/img/sourabhsir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Dr. Sourabh Kumar Das</strong>
                <span>Principal, KGEC</span>
                <span>Mentor , KGEC E-cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/SantanuDasSir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Dr. Santanu Das</strong>
                <span>Chairman, KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Sampl.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Mr. Supriyo Banerjee</strong>
                <span>Secretary , KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/miqsir.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Mr. Md. Iqbal Qureshi</strong>
                <span>Treasurer , KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Sampl.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Dr. Himadri Shekhar Dutta</strong>
                <span>Member, KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
        <div class="col">
            <img src="/img/Sampl.jpg" alt="profile-picture" class="profile">
            <div class="label">
                <strong>Mr. Barun Mandal</strong>
                <span>Member, KGEC E-Cell</span>
            </div>
            <div class="socials">
                <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href=""><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>