<%- include('header'); -%>

<section id="training" class="flex start">
    <h4>Training</h4>
    <div class="row">
        <p>      
            Since its inception in 1995, Kalyani Government Engineering College strove to inculcate the spirit of academic fervour and excel in different domains of knowledge.
            Although it is not one of oldest engineering institutes, it has a long list of alumni who are present in leading position of all companies in all parts of the World. It has tried to instil in the students the enthusiasm of the past as well as the impulse to reach beyond. With this insignia of excellence, the institute has expanded its horizons and now the students propel themselves to achieve great academic feats with a focus on innovation.
            One of the most common and biggest issue freshers has to deal when they are applying for the job is work experience. In today’s competitive world every employer is looking for the best candidate with work experience. Getting a degree is not good enough for a student to secure a good job, they need industrial experience and here industrial training plays a crucial role for them. Engineering is still considered as the best career choice for science students but it is equally challenging to stand out in the race. One has to be versatile and well trained to be a preferred candidate for a high-paying job position. That is why it is important for the students to go for practical training. If you are pursuing engineering then it is high time to gain industrial exposure and boost your technical knowledge for better understanding of the subject.
        </p>
    </div>
</section>

<section id="activities" class="flex">
    <h5>Inhouse</h5><br>
    <div class="row">
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
    </div>
    <br id="inplant"><br><h5>Inplant </h5><br>
    <div class="row">
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
    </div>
    <br id="certification"><br><h5>Certification Programme</h5><br>
    <div class="row">
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
    </div>
    <br id="industrial"><br><h5>Industrial Programme</h5><br>
    <div class="row">
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
        <div class="col">
            <p>Some Content</p>
        </div>
    </div>
</section>


<%- include('footer'); -%>