/*----- Media Queries to be added here------*/

@media only screen and (max-width: 768px) {
    header .logo, span:nth-child(3) {
        display: none;
    }

    nav {
        padding: 30px;
        display: flex;
        height: 100%;
        overflow: scroll;
        align-items: flex-start;
        justify-content: start;
        width: 100%;
        position: fixed;
        background-color: #ffffff;
        display: none;
    }

    .head-nav {
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        z-index: 999;
        color: #000;
        position: fixed;
        display: flex;
        padding: 30px;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        box-shadow:  5px 5px 20px #dbdbdb, 
        -5px -5px 20px #ffffff;
    }

    .head-nav .header-text {
        margin: 0;
        max-width: 150px;
        word-wrap: break-word;
        text-align: center;
    }

    .head-nav .logo {
        height: 75px;
        width: 75px;
    }

    .menu-close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: #000;
        box-shadow: none;
    }

    nav ul {
        width: 80%;
        flex-direction: column;
    }

    .top-nav {
        margin-top: 90px;
        width: 90%;
        z-index: 2;
        padding-bottom: 40px;
    }

    .menu {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        border-radius: 22px;
        box-shadow:  5px 5px 20px #dbdbdb, 
        -5px -5px 20px #ffffff;
    }

    .sub-menu {
        width: 80%;
        display: flex;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        z-index: 1;
    }

    .menu a, .submenu a {
        color: #000;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header {
        text-align: center;
        position: fixed;
        z-index: 9;
        background-color: #238371;
    }

    .gallery {
        height: max-content;
        padding: 30px 0;
    }

    .gallery-cell {
        width: 90%;
        height: auto;
    }

    .start {
        margin-top: 90px;
    }

    section:nth-child(1) {
        margin-top: 90px;
    }

    .hero-text {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        max-width: 500px;
    }
    .row, footer {
        display: flex;
      flex-direction: column;
    }

    #activities .row .col, #team .row .col {
        width: 330px;
        margin: 30px;
    }

    #objectives .row, #notice .row {
        width: 80%;
        max-width: 650px;
        min-height: 600px;
        font-size: 16px;
    }

    .span-1-of-1 p {
        padding: 0 30px;
        margin: 40px 0;
        word-spacing: 2px;
    }

    .activity-text {
        height: 30px;
    }

    #notice .row {
        height: max-content;
        max-height: 700px;
    }

    .notice-box {
        height: 80%;
        margin: 30px 0;
    }

    #training .row p {
        padding: 30px;
    }
    
    footer .col {
        margin: 0;
        width: 100%;
        display: inline-flex;
    }

    .foot-links li {
        margin: 20px;
    }

    .foot-links li:nth-child(1) {
        margin: 20px;
    }

    .contact li {
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .flex {
        height: max-content;
    }

    .author {
        margin-bottom: 30px;
    }

    .hero-text {
        font-size: 24px;
    }

    .notice-text {
        text-align: left;
    }

    .span-1-of-1 h4 {
        margin-top: 40px;
    }

    #objectives .row, #notice .row {
        width: 90%;
    }

    #notice .row {
        height: max-content;
        max-height: 700px;
    }

    #training .row p {
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    body, header, li, li a, span, .row .col, #training .row {
        font-size: 14px !important;
    }

    .hero-text, h4, h5 {
        font-size: 16px !important;
    }

    .menu-btn {
        left: 10px;
    }

    #activities h4, footer h4, .row h4, .flex h4 {
        letter-spacing: 5px;
    }

    #activities .row .col, #team .row .col {
        width: 300px;
    }

    .span-1-of-1 p {
        padding: 0 10px;
    }

}

@media only screen and (max-width: 360px) {
    body, header, li, li a, span, .row .col, #training .row {
        font-size: 13px !important;
    }

    .hero-text, h4, h5 {
        font-size: 15px !important;
    }

    .menu-btn {
        left: 7px;
    }

    #activities h4, footer h4, .row h4, .flex h4 {
        letter-spacing: 4px;
    }

    #activities .row .col, #team .row .col {
        width: 280px;
    }

}
